$primary-color: #40586F; // 主要
$success-color: #51cf66; // 成功
$warning-color: #fcc419; // 警告
$danger-color: #ff6b6b; // 危险
$info-color: #868e96; // 信息 #22b8cf;

$body-bg: #E9EEF3; // #f5f5f9;

$sidebar-bg: #F8F9FB;
$navbar-bg: #F8F9FB;

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helve tica, Arial, sans-serif;
